@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@500&display=swap');
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

:root{
    --background-color: #F5F5F5;
    --background-hover: rgb(241 241 241);
    --light-gray: rgb(163, 163, 163);
    --white: white;
    --black: black;
    --light-blue: rgba(150, 212, 212, 0.4);
}

html{
    height: 100%;
}

body{
    border-radius: 5px;
    width: 100%;
    min-height: 100%;
    font-family: 'Quicksand', sans-serif;
}

.expand{
    overflow: visible;
}

.container-1{
    min-height:100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-blue);
}

.logo{
    min-width: 5%;
    background-image: url(../images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
}

.logo img{
    width: 100%;
    height: fit-content;
}

.nav-menu{
    min-width: 95%; 
    display: flex;
    flex-direction: row-reverse;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list .fa{
    font-size: 13px;
    padding-right: 2px;
}

.nav-list li{
    padding: 10px 20px;
    border-radius: 2px;
    margin: 0px 5px;
    color: var(--black);
    cursor: pointer;
}

.nav-list li a{
    text-decoration: none;
    color: inherit;
    display: flex;
    font-size: 14px;
    align-items: center;
}

.nav-list li:hover{
    background-color: var(--background-hover);
}

.main-container{
    padding: 2%;
}

.dashboard-container{
    border: 1px solid var(--background-hover);
    padding: 10px;
}

.dashboard-dropdown-heading h2, .table-dropdown-heading h2{
    padding: 10px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.dashboard-dropdown-heading h2 span, .table-dropdown-heading h2 span{
    cursor: pointer;    
    background-repeat: no-repeat;
    background-size: contain;
    height: 15px;   
    padding: 2px 20px;
}

.dashboard{
    display: flex;
    background-color: var(--light-blue);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 4px;
}

.table{
    display: block;
}

.plus{
    background-image: url('../images/plus-icon.svg');
}

.minus{
    background-image: url('../images/minus-icon.svg');
}

.hide{
    display: none;
}

.dashboard-col{
    width: 30%;
    padding: inherit;
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dashboard-col .col-icon{
    width: fit-content;
}

.dashboard-col .col-icon h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: rgb(122 122 122);
}

.dashboard-col .col-content{
    width: fit-content;
}

.dashboard-col .col-content p{
    text-align: justify;
    color: var(--light-gray);
    font-size: 13px;
}

.dashboard-col .col-content h2{
    text-transform: uppercase;
}

.table-container{
    border: 1px solid var(--background-hover);
    margin: 2px 0px;
    padding: 10px;
}

.table-container table{
    width: 100%;
}

.table-container table tr th {
    background-color: var(--light-blue);
    padding: 10px;
}

.table-container table tr td{
    border-bottom: 1px solid var(--background-hover);
    padding: 1px;
}

.data-menu {
    color: black;
    padding: 8px;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

.data-dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid var(--background-hover);
    min-width: 200px;
    z-index: 1;
}

.filter{
    padding: 15px;
    margin: 15px 0px;
    border: 1px solid var(--background-hover);
    border-radius: 4px;
    width: max-content;
    font-size: 14px;
}

.filter span, .filter{
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.dropdown-content a:hover {background-color: #ddd}
  
.show-menu {display:block;}

.pagination {
    display: inline-flex;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
}

.pagination-links{
    margin: 0px auto;
}
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}
  
.pagination a.active {
    background-color: var(--light-blue);
    border: 1px solid var(--light-blue);
}
  
.pagination a:hover:not(.active) {background-color: var(--light-gray)}

@media only screen and (max-width: 700px) {
    .dashboard-col{
        margin: 10px 0px;
        width: 100%;
    }
}