<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/home.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/search.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Search</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="../images/logo.png" alt="logo">
            </div>
            <div class="nav-menu">
                <ul class="nav-list">
                    <li><a href="{{url_for('index')}}"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                    <li><a href="{{url_for('search')}}"><i class="fa fa-search"></i>&nbsp;Search</a></li>
                </ul>
            </div>
        </div>
        <div class="search-container">

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename = 'js/search.js') }}"></script>
</body>
</body>
</html>